Flask==3.0.3
Flask-Cors==4.0.0
Flask-Migrate==4.0.7
SQLAlchemy==2.0.29
Flask-SQLAlchemy==3.1.1
PyMySQL==1.1.0
pytest==8.1.1
python-dotenv==0.19.2
black==24.4.0
pytest-mock==3.14.0
pytest-lazy-fixture==0.6.3